.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 5rem; /* empuja la card a la izquierda */
}

.card {
  width: 360px;
  background: rgba(106, 164, 250, 0.6);
  padding: 36px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(13, 57, 102, 0.15);
  color: white;
}

.title {
  font-size: 27px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  height: 48px;
  padding: 0 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

  .register_button {
  position: absolute;
  top: 24px;
  right: 24px;
  background: var(--color-primary);
  color: white;
  padding: 10px 24px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  }
  
.Recover_button {
  margin-top: 12px;
  height: 44px;
  border-radius: 24px;
  background: var(--color-primary); 
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  
}

.divSpan{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.link_button{
    background: none;
    border: none;
    color: #d40756;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.85rem;
    text-align: left;
}